<nav class="navbar navbar-expand-lg navbar-light bg-light mynavbar">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" routerLink="/">TECH-BLOG</a>
      <a routerLink="/create-Blog" class="create-blog">Create New Blog</a>
      <!-- "['/crisis-center', { foo: myVar }]" -->
          
      
        <form class="d-flex">
          <input class="form-control me-2" type="search" name="searchContent" [(ngModel)]="searchContent" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" [routerLink]="['/search',{searchContent}]" type="submit">Search</button>
        </form>
         <h6 class="me-3">welcome {{myName}}</h6>
      </div>
  
  </nav>
  <!-- sidebar -->

  <div class="container-fluid sidebar">
    <div class="row flex-nowrap">
        <div class="col-12 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span class="category-heading">Categories</span>
              
                <ul  class="categories-list">
                    <li *ngFor="let value of categorieslist">
                        <a  [routerLink]="['/category',{value}]"><span>{{value}}</span></a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--  -->
  <router-outlet></router-outlet>